<!-- Main Content -->
<main class="content">
  <div class="header-list-page">
    <h1 class="title">Categories</h1>
    <a href="?pagina=categoria&metodo=create" class="btn-action">Add new Category</a>
  </div>
  <table class="data-grid">
    <tr class="data-row">
      <th class="data-grid-th">
        <span class="data-grid-cell-content">Name</span>
      </th>
      <th class="data-grid-th">
        <span class="data-grid-cell-content">Code</span>
      </th>
      <th class="data-grid-th">
        <span class="data-grid-cell-content">Actions</span>
      </th>
    </tr>
    {% for categoria in categorias %}
    <tr class="data-row">
      <td class="data-grid-td">
        <span class="data-grid-cell-content">{{ categoria.nome }}</span>
      </td>

      <td class="data-grid-td">
        <span class="data-grid-cell-content">{{ categoria.codigo }}</span>
      </td>

      <td class="data-grid-td">
        <div class="actions">
          <a href="?pagina=categoria&metodo=edit&id={{ categoria.id }}" class="action edit"><span>Edit</span></a>
          <form method="post" action="?pagina=categoria&metodo=destroy&id={{ categoria.id }}">
            <button type="submit" >
              <div class="action delete"><span>Delete</span></div>
            </button>
          </form>
        
        </div>
      </td>
    </tr>
    {% endfor %}
  </table>
</main>
<!-- Main Content -->