<main class="content">
	<div class="header-list-page">
		<h1 class="title">Dashboard</h1>
	</div>
	<div class="infor">
		You have {{ produtos|length }} products added on this store: <a href="?pagina=produto&metodo=create" class="btn-action">Add new Product</a>
	</div>
	<ul class="product-list">
		{% for produto in produtos %}
		<li>
			<div class="product-image">
				<img src="" layout="responsive" width="164" height="145"
					alt="Tênis Runner Bolt" onerror="this.onerror=null; this.src='assets/images/product/noimage.jpg'" />
			</div>
			<div class="product-info">
				<div class="product-name"><span>{{produto.nome}}</span></div>
				<div class="product-price"><span class="special-price">{{produto.quantidade}} available</span> <span>R${{ produto.preco|number_format(2, '.', ',') }}</span></div>
			</div>
		</li>
		{% endfor %}
	</ul>
</main>