  <!-- Main Content -->
  <main class="content">
    <h1 class="title new-item">Edit Product #{{ id }}</h1>
    
    <form method="post" action="?pagina=produto&metodo=update">
      <input type="hidden" name="id" value="{{id}}">
      <div class="input-field">
        <label for="sku" class="label">Product SKU</label>
        <input type="text" id="sku" class="input-text" name="sku" required value="{{ sku }}" /> 
      </div>
      <div class="input-field">
        <label for="name" class="label">Product Name</label>
        <input type="text" id="name" class="input-text" name="nome" required value="{{ nome }}" /> 
      </div>
      <div class="input-field">
        <label for="price" class="label">Price</label>
        <input type="number" id="price" class="input-text" step="0.2"  name="preco" required value="{{ preco }}" /> 
      </div>
      <div class="input-field">
        <label for="quantity" class="label">Quantity</label>
        <input type="number" id="quantity" class="input-text" name="quantidade" required  value="{{ quantidade }}" /> 
      </div>
      <div class="input-field">
        <label for="category" class="label">Categories</label>
        <select multiple id="category" class="input-text" name="categorias[]">
          {% for categoria in categorias %}
          {% set selected = '' %}
          {% for categoria_selected in categorias_selected %}
          {% if categoria.id == categoria_selected.id %}
          {% set selected = 'selected' %}
       {% endif %}
          {% endfor %}
          <option value="{{ categoria.id }}" {{ selected }}>{{ categoria.nome }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="input-field">
        <label for="description" class="label">Description</label>
        <textarea id="description" class="input-text" name="descricao">{{ descricao }}</textarea>
      </div>
      <div class="actions-form">
        <a href="?pagina=produto&metodo=index" class="action back">Back</a>
        <input class="btn-submit btn-action" type="submit" value="Save Product" />
      </div>
      
    </form>
  </main>
  <!-- Main Content -->