<!-- Main Content -->
<main class="content">
  <h1 class="title new-item">Edit Category #{{ id }}</h1>

  <form method="post" action="?pagina=categoria&metodo=update">
    <input type="hidden" name="id" value="{{id}}">
    <div class="input-field">
      <label for="category-name" class="label">Category Name</label>
      <input name="nome" type="text" id="category-name" class="input-text" required value="{{ nome }}" />

    </div>
    <div class="input-field">
      <label for="category-code" class="label">Category Code</label>
      <input name="codigo" type="number" id="category-code" class="input-text" required  value="{{ codigo }}"/>

    </div>
    <div class="actions-form">
      <a href="?pagina=categoria&metodo=index" class="action back">Back</a>
      <input class="btn-submit btn-action" type="submit" value="Save" />
    </div>
  </form>
</main>
<!-- Main Content -->