
  <!-- Main Content -->
  <main class="content">
    <div class="header-list-page">
      <h1 class="title">Products</h1>
      <a href="?pagina=produto&metodo=create" class="btn-action">Add new Product</a>
    </div>
    <table class="data-grid">
      <tr class="data-row">
        <th class="data-grid-th">
            <span class="data-grid-cell-content">Name</span>
        </th>
        <th class="data-grid-th">
            <span class="data-grid-cell-content">SKU</span>
        </th>
        <th class="data-grid-th">
            <span class="data-grid-cell-content">Price</span>
        </th>
        <th class="data-grid-th">
            <span class="data-grid-cell-content">Quantity</span>
        </th>
        <th class="data-grid-th">
            <span class="data-grid-cell-content">Categories</span>
        </th>

        <th class="data-grid-th">
            <span class="data-grid-cell-content">Actions</span>
        </th>
      </tr>
      {% for produto in produtos %}

      <tr class="data-row">
        <td class="data-grid-td">
           <span class="data-grid-cell-content">{{ produto.nome }}</span>
        </td>
      
        <td class="data-grid-td">
           <span class="data-grid-cell-content">{{ produto.sku }}</span>
        </td>

        <td class="data-grid-td">
           <span class="data-grid-cell-content">R${{ produto.preco|number_format(2, '.', ',') }}</span>
        </td>

        <td class="data-grid-td">
           <span class="data-grid-cell-content">{{ produto.quantidade }}</span>
        </td>

        <td class="data-grid-td">
           <span class="data-grid-cell-content">
            {% for categoria in produto.categorias %}
            {{ categoria.nome }}<br>
            {% endfor %}
            </span>
        </td>
      
        <td class="data-grid-td">
          <div class="actions">
            <a href="?pagina=produto&metodo=edit&id={{ produto.id }}" class="action edit"><span>Edit</span></a>
            <form method="post" action="?pagina=produto&metodo=destroy&id={{ produto.id }}">
              <button type="submit" >
                <div class="action delete"><span>Delete</span></div>
              </button>
            </form>

          </div>
        </td>
      </tr>
      {% endfor %}
    </table>
  </main>
  <!-- Main Content -->